﻿@model AnagramSolver.Contracts.UserLogList

@{
    Layout = null;
}

<html>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                IP
            </th>
            <th>
                Laikas
            </th>
            <th>
                Žodis
            </th>
            <th>
                Anagramos
            </th>
            <th>
                Veiksmas
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Logs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                @foreach (var anagram in item.Anagrams.Split(','))
                {
                    Write(anagram + " ");
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
