﻿@model AnagramSolver.Contracts.PaginatedList<string>

@{
    Layout = null;
}

    <div style="width:200px; margin: 0 auto; text-align: center">
        <h1>ŽODYNAS</h1>
        <form asp-action="Index" asp-route-pageNumber=1 method="get">
            <p>
                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" style="width: 100%; padding: 10px; border: solid black 1px"/>
                <input type="submit" value="Ieškoti" class="btn btn-default" style="width: 100%; margin-top: 10px; padding: 10px; border: solid black 1px"/> |
            </p>
        </form>
        <ul style=" list-style-type: none; padding: 0">
            @foreach (string word in Model)
            {
                <li style="padding: 10px; border: solid black 1px">
                    <a style="text-decoration: none"
                       asp-controller="Home"
                       asp-action="Index"
                       asp-route-word="@word">
                        @word
                    </a>
                </li>
            }
        </ul>
    </div>

@{
    var prevDisabled = !Model.HasPreviousPage;
    var nextDisabled = !Model.HasNextPage;
}

<div style="width:200px; margin: 0 auto; text-align: center; display: flex">
    @if (prevDisabled)
    {
        <a style="width: 100%; padding: 10px; border: solid black 1px"
           title="No previous page">
            Previous
        </a>
    }
    else
    {
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-searchString="@ViewData["currentFilter"]"
           style="width: 100%; padding: 10px;border: solid black 1px">
            Previous
        </a>
    }

    @if (nextDisabled)
    {
        <a style="width: 100%; padding: 10px; border: solid black 1px"
           title="No next page">
            Next
        </a>
    }
    else
    {
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-searchString="@ViewData["currentFilter"]"
           style="width: 100%; padding: 10px; border: solid black 1px">
            Next
        </a>
    }
</div>

