﻿@{
    Layout = null;
}

    <div style=" width:500px; margin: 0 auto; text-align: center">
        @using (Html.BeginForm())
        {
            <input type="text" title="žodis" name="Word" style="width: 100%; padding: 10px; border: solid black 1px" />
            <input type="text" title="kategorija" name="Category" style="width: 100%; padding: 10px; border: solid black 1px" />
            <input type="submit" value="Pridėti" style="width: 100%; margin-top: 10px; padding: 10px; border: solid black 1px" />
        }
        <a style="width: 500px; margin-top: 10px; padding: 10px; text-decoration: none; border: 1px solid black"
           asp-controller="Home"
           asp-action="Blank">
            Pradžia
        </a>
    </div>

