﻿@{
    Layout = null;
}

    <div style="margin: 0 auto; text-align: center">
        <a style="margin-top: 10px; padding: 10px; text-decoration: none; border: 1px solid black"
           asp-controller="Words"
           asp-action="Index"
           asp-route-pageNumber="1">
            Žodynas
        </a>
        <a style="margin-top: 10px; padding: 10px; text-decoration: none; border: 1px solid black"
           asp-controller="Logs"
           asp-action="Index">
            Log'ai
        </a>
        <a style="margin-top: 10px; padding: 10px; text-decoration: none; border: 1px solid black"
           asp-controller="Home"
           asp-action="AddForm">
            Naujas žodis
        </a>
    </div> 
