﻿@model AnagramSolver.Contracts.AnagramView

@{
    Layout = null;
}

    <div style=" width:500px; margin: 0 auto; text-align: center">
        <h1>Žodžio "@Model.Word" anagramos</h1>
        @if (Model.Allowed)
        {
            <ul style="padding: 0; list-style-type: none">
                @foreach (string word in Model.Anagrams)
                {
                    <li style="padding: 10px; border: solid black 1px">@word</li>
                }
            </ul>
        }
        else
        {
            <p>Pasiektas leistinas anagramų paieškos skaičius, norėdami gauti papildomų paieškų pridėkite ar pakoreguokite žodyno žodį</p>
        }
        <a style="margin-top: 10px; padding: 10px; text-decoration: none; border: 1px solid black"
           asp-controller="Home"
           asp-action="Remove"
           asp-route-word="@Model.Word">
            Ištrinti
        </a>
        <a style="margin-top: 10px; padding: 10px; text-decoration: none; border: 1px solid black"
           asp-controller="Home"
           asp-action="UpdateForm"
           asp-route-oldWord="@Model.Word"
           asp-route-newWord="">
            Koreguoti
        </a>
    </div>
