﻿@{
    Layout = null;
}

<div style="margin: 0 auto; text-align: center">
    <a style="margin-top: 10px; padding: 10px; text-decoration: none; border: 1px solid black"
       asp-controller="Home"
       asp-action="Blank">
        Pradžia
    </a>
</div> 